#pauseMenuContainer {
    flex-grow: 1;
    background-color: rgb(19, 0, 255);
    background-image: resource('personal/actionTreeBackgroundWithoutBorder');
    -unity-background-image-tint-color: rgba(192, 241, 222, 0.9);
}

.h1 {
    font-size: 36px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

#resourceInfoList {
    flex-direction: row;
}

.sectionHeader {
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}
